# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos SQL Server
DB_SERVER=svr-sql-ctezo.southcentralus.cloudapp.azure.com
DB_PORT=1433
DB_USER=UsuarioEncuestas
DB_PASSWORD=
DB_NAME=db_WebDevUMG
